[app-color='blue'] {
    --primary-50: #edf9ff;
    --primary-100: #d6f1ff;
    --primary-200: #b6e8ff;
    --primary-300: #4bc5ff;
    --primary-400: #0988ff;
    --primary-500: #0474fc;
    --primary-600: #0a58c3;
    --primary-700: #0f4d99;
    --primary-800: #0e2f5d;
}