$secondary-color: #0369a1;
$background-color: #cffafe;

$primary-color: #0c4a6e;
$tertiary-color: #ef4444;

$black-color: #202020;
$white-color: #f8fafc;

$border-radius: 6px;
$box-shadow: 0 0 1px rgb(0 0 0 / 13%), 0 1px 3px rgb(0 0 0 / 20%);